@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#f7f7f7];
  }

  .card-button {
    @apply w-8 h-8 flex justify-center items-center text-xl font-semibold text-white bg-blue-500 rounded-full transition-colors hover:bg-blue-600;
  }

  .cart-button {
    @apply font-semibold text-white py-1.5 rounded transition-colors;
  }
}
